<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend translate="REGISTER"></legend>
		<div class="field">
			<label class="required" for="login" translate="LOGIN"></label>
			<input type="text" id="login" name="login" maxlength="255" ng-model="user.login" ng-check-login required/>
			<span ng-show="form.login.$pending.ngCheckLogin" translate="CHECK_LOGIN_MESSAGE"></span>
			<span ng-show="form.login.$error.ngCheckLogin" translate="EXISTS_LOGIN_MESSAGE"></span>
		</div>
		<div class="field">
			<label class="required" for="password" translate="PASSWORD"></label>
			<input type="password" id="password" name="password" maxlength="255" ng-model="user.password" ng-minlength="3" required/>
			<span ng-show="form.password.$error.required || form.password.$error.minlength" translate="MINIMAL_COUNT_MESSAGE"></span>
		</div>
		<div class="field">
			<label class="required" for="confirmPassword" translate="CONFIRM_PASSWORD"></label>
			<input type="password" id="confirmPassword" name="confirmPassword" maxlength="255" ng-model="user.confirmPassword" ng-match="user.password" ng-minlength="3" required/>
			<span ng-show="form.confirmPassword.$error.required || form.confirmPassword.$error.minlength" translate="MINIMAL_COUNT_MESSAGE"></span>
			<span ng-show="form.confirmPassword.$error.ngMatch && !form.confirmPassword.$error.required && !form.confirmPassword.$error.minlength" translate="PASSWORDS_DO_NOT_MATCH_MESSAGE"></span>
		</div>
		<div class="field field-inline">
			<label for="rememberMe" translate="REMEMBER_ME"></label>
			<input type="checkbox" id="rememberMe" name="rememberMe" ng-model="user.rememberMe">
		</div>
		<div>
			<button class="btn btn-primary" ng-click="register()" ng-disabled="form.$invalid || dataLoading" translate="REGISTER"></button>
			<img ng-if="dataLoading" src="/img/load.gif"/>
		</div>
	</fieldset>
</form>