body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
.indent {
	margin: 15px;
}
.justify {
	display: flex;
	justify-content: space-between;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 80px;
	text-align: center;
}
.footer > hr {
	color: #575757;
}
.container {
	height: 100%;
	margin: auto;
}
@media screen and (min-width: 1920px) {
	.container {
		width: 1920px;
	}
}