.content {
	margin: 0;
	padding: 0;
}
.content li {
	border: 2.5px solid #6699cc;
	display: inline-block;
	margin: 1px;
	max-width: 306px;
}
.content li > .title {
	background-color: #575757;
	color: #ffffff;
	font-weight: 600;
	margin: 7px 0;
	padding: 10px;
}
.content li > .title > * {
	display: inline;
	white-space: nowrap;
}
.content li > .body > * {
	width: 100%;
}
.content li > .body:hover,
.content li > .body:active {
	opacity: 0.7;
}