.content {
	margin: 0;
	padding: 0;
}
.content li {
	border: 2.5px solid #6699cc;
	display: inline-block;
	margin: 1px;
	width: 306px;
}
.content li > .title {
	background: #575757;
	color: #ffffff;
	font-weight: 600;
	margin: 7px 0;
	padding: 10px;
	text-align: center;
}
.content li > .title > * {
	display: block;
	white-space: nowrap;
}
.content li > .title .artist {
	display: inline;
}
.content li > .title a {
	color: #ffffff;
	text-decoration: none;
}
.content li > .title a:hover,
.content li > .title a:active {
	text-decoration: underline;
}
.content li > .body {
	position: relative;
}
.content li > .body > * {
	width: 100%;
}
.content li > .body > .body-link {
	bottom: 0;
	left: 0;
	opacity: 0;
	position: absolute;
	z-index: 1;
}
.content li > .body:hover > .body-link,
.content li > .body:active > .body-link {
	opacity: 1;
}
.content li > .body > .body-link .link {
	background-color: #ffffff;
	background-size: 100% 100%;
	border: 2.5px solid transparent;
	cursor: pointer;
	display: table-cell;
	height: 61px;
	opacity: 0.8;
	text-align: center;
	width: 61px;
}
.content li > .body > .body-link .link:hover,
.content li > .body > .body-link .link:active {
	border: 2.5px solid #575757;
}
.content li > .body > .body-link .link-empty {
	background-color: transparent;
	cursor: auto;
}
.content li > .body > .body-link .link-empty:hover,
.content li > .body > .body-link .link-empty:active {
	border: 2.5px solid transparent;
}
iframe {
	height: 360px;
	width: 480px;
}