<ul class="content">
	<li ng-repeat="artist in ctrl.artists">
		<div class="title">
			<a ui-sref="artist({id: artist.id})">{{artist.name}}</a>
		</div>
		<div class="body">
			<img ng-src="/muschart/image/artist/{{artist.photo}}">
			<div class="body-link">
				<div class="link link-empty"></div>
				<div class="link link-empty"></div>
				<div class="link link-empty"></div>
				<div class="link link-empty"></div>
				<div class="link action-like" ui-sref="login" ng-if="!user"></div>
				<div class="link action-like" ng-controller="UserEditController as ctrl" ng-click="ctrl.like('artist', artist.id)" ng-if="user && !artist.liked"></div>
				<div class="link action-liked" ng-controller="UserEditController as ctrl" ng-click="ctrl.like('artist', artist.id)" ng-if="user && artist.liked"></div>
				<div class="link link-action link-empty">{{artist.rating}}</div>
			</div>
		</div>
</ul>
<div class="link" ng-show="(ctrl.url !== '#') && (ctrl.artists.length >= count.artists)">
	<a ui-sref="{{ctrl.url}}" translate="MORE_ARTISTS"></a>
</div>