<ul class="content">
	<li ng-repeat="track in ctrl.tracks">
		<div class="title">
			<div class="artist" ng-repeat="artist in track.artists">
				<a ui-sref="artist({id: artist.id})">{{artist.name}}</a>
				{{track.units[$index].name}}
			</div>
			<a ui-sref="track({id: track.id})">{{track.name}}</a>
		</div>
		<div class="body">
			<img ng-src="/muschart/image/track/{{track.cover}}">
			<div class="body-link">
				<div class="link link-action action-play" ng-click="ctrl.playSong(track)"></div>
				<div class="link link-action link-empty" ng-if="!track.video"></div>
				<div class="link link-action action-youtube" ng-if="track.video" ng-click="showModal(track.video)"></div>
				<div class="link link-action link-empty"></div>
				<div class="link link-action link-empty"></div>
				<div class="link link-action action-like" ui-sref="login" ng-if="!user"></div>
				<div class="link link-action action-like" ng-controller="UserEditController as ctrl" ng-click="ctrl.like('track', track.id)" ng-if="user && !track.liked"></div>
				<div class="link link-action action-liked" ng-controller="UserEditController as ctrl" ng-click="ctrl.like('track', track.id)" ng-if="user && track.liked"></div>
			</div>
		</div>
</ul>
<div class="link" ng-if="(ctrl.url !== '#') && (ctrl.tracks.length >= amount.tracks)">
	<a ui-sref="{{ctrl.url}}">More tracks</a>
</div>
<modal visible="modal">
	<modal-body>
		<iframe ng-src="{{video | trusted}}"></iframe>
	</modal-body>
</modal>