body {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	width: 100%;
}
hr.footer {
	background-color: #575757;
	border: none;
	height: 1px;
	margin: 0 0 15px;
}
.container {
	margin: 5px 15px;
}
.flex {
	flex: 1;
}
.footer {
	margin-bottom: 80px;
	text-align: center;
}
.justify {
	display: flex;
	justify-content: space-between;
}