<div class="navbar navbar-default justify">
	<ul class="navigation">
		<li><a ui-sref="tracks({page:1})">Tracks</a>
		<li><a ui-sref="artists({page:1})">Artists</a>
		<li><a ui-sref="genres({page:1})">Genres</a>
	</ul>
	<form class="form-search" role="search">
		<div ng-controller="mainCtrl">
			<div mass-autocomplete>
				<input type="text" class="input-search form-control ng-isolate-scope ng-valid ng-dirty" placeholder="Search" ng-model="dirty.state_simple" placeholder="Select a state" mass-autocomplete-item="autocomplete_options" autocomplete="off">
			</div>
		</div>
		<button type="submit" class="btn btn-default btn-search">Submit</button>
	</form>
	<ul class="navigation">
		<li ng-show="globals.user.role == 'Admin'"><a ui-sref="tracks/add">Edit</a>
		<li ng-show="!globals.user"><a ui-sref="login">Sign in</a>
		<li><a ui-sref="settings">Settings</a>
	</ul>
</div>
<div class="navbar navbar-primary justify" ng-show="globals.user">
	<ul class="navigation">
		<li><a href="/muschart/user_tracks">My tracks</a>
		<li><a href="/muschart/user_artists">My artists</a>
		<li><a href="/muschart/user_genres">My genres</a>
	</ul>
	<ul class="navigation">
		<li ng-show="globals.user"><a ui-sref="account">My account</a>
		<li><a ng-href="#" ng-click="ctrl.logout()">Logout</a>
	</ul>
</div>