<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend>Track</legend>
		<div class="field">
			<label class="required">Artist</label>
			<div ng-repeat="artistChoice in artistsChoice">
				<select ng-model="artistChoice.unit" ng-if="$first" ng-show="false"></select>
				<select ng-model="artistChoice.unit" ng-if="!$first" required>
					<option ng-repeat="un in units" value="{{un.id}}">{{unt.name}}</option>
				</select>
				<select ng-model="artistChoice.artist" required>
					<option ng-repeat="art in artists" value="{{art.id}}">{{art.name}}</option>
				</select>
				<button class="btn btn-danger btn-input" ng-click="removeArtistChoice(artistChoice.index)">Remove artist</button>
			</div>
			<button class="btn btn-default btn-input" ng-click="addArtistChoice()">Add artist</button>
		</div>
		<div class="field">
			<label class="required" for="name">Song name</label>
			<input type="text" id="name" name="name" maxlength="255" ng-model="ctrl.track.name" required/>
		</div>
		<div class="field">
			<label class="required" for="song">Song</label>
			<input type="file" id="song" name="song" ng-model="ctrl.track.song" file-model="songFile" required file-required/>
		</div>
		<div class="field">
			<label class="required" for="cover">Cover</label>
			<input type="file" id="cover" name="cover" ng-model="ctrl.track.cover" file-model="coverFile" required file-required/>
		</div>
		<div class="field">
			<label for="video">Youtube video url</label>
			<input type="text" id="video" name="video" maxlength="255" ng-model="ctrl.track.video"/>
		</div>
		<div class="field">
			<label class="required">Genre</label>
			<div ng-repeat="genreChoice in genresChoice">
				<select ng-model="genreChoice.genre" required>
					<option ng-repeat="gen in genres" value="{{gen.id}}">{{gen.name}}</option>
				</select>
				<button class="btn btn-danger btn-input" ng-click="removeGenreChoice(genreChoice.index)">Remove genre</button>
			</div>
			<button class="btn btn-default btn-input" ng-click="addGenreChoice()">Add genre</button>
		</div>
		<div class="field">
			<label class="required" for="release">Release date</label>
			<input type="date" id="release" name="release" ng-model="ctrl.track.release" required/>
		</div>
		<div>
			<button type="submit" class="btn btn-success" ng-click="ctrl.createTrack()" ng-disabled="form.$invalid || ctrl.dataLoading">Submit</button>
			<img ng-if="ctrl.dataLoading" src="/muschart/img/load.gif"/>
		</div>
	</fieldset>
</form>