<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend translate="LOG_IN"></legend>
		<div class="field">
			<label class="required" for="login" translate="LOGIN"></label>
			<input type="text" id="login" name="login" maxlength="255" ng-model="user.login" required/>
		</div>
		<div class="field">
			<label class="required" for="password" translate="PASSWORD"></label>
			<input type="password" id="password" name="password" maxlength="255" ng-model="user.password" ng-minlength="3" required/>
			<span ng-show="form.password.$error.required || form.password.$error.minlength" translate="MINIMAL_COUNT_MESSAGE"></span>
		</div>
		<div class="field field-inline" ng-if="false">
			<label for="rememberMe" translate="REMEMBER_ME"></label>
			<input type="checkbox" id="rememberMe" name="rememberMe" ng-model="user.rememberMe">
		</div>
		<div>
			<button class="btn btn-primary" ng-click="login()" ng-disabled="form.$invalid || dataLoading" translate="LOG_IN"></button>
			<img ng-if="dataLoading" src="/img/load.gif"/>
		</div>
	</fieldset>
</form>