<form method="POST" class="form-submit form-validation" name="form">
	<fieldset>
		<legend translate="GENRE"></legend>
		<div class="field">
			<label class="required" for="name" translate="NAME"></label>
			<input type="text" id="name" name="name" maxlength="255" ng-model="ctrl.genre.name" ng-check-genre required/>
			<span ng-show="form.name.$pending.ngCheckGenreName" translate="CHECK_GENRE_NAME_MESSAGE"></span>
			<span ng-show="form.name.$error.ngCheckGenreName" translate="EXISTS_GENRE_NAME_MESSAGE"></span>
		</div>
		<div>
			<button class="btn btn-success" ng-click="ctrl.createGenre()" ng-disabled="form.$invalid || form.name.$pending || ctrl.dataLoading" translate="SUBMIT"></button>
			<img ng-if="ctrl.dataLoading" src="/muschart/img/load.gif"/>
		</div>
	</fieldset>
</form>