<div class="settings">
	<div class="title">Settings</div>
	<div class="setting">
		<div class="name">Language</div>
		<select ng-model="settings.language" ng-change="changeLanguage(settings.language)" required>
			<option ng-repeat="lang in languages" value="{{lang.iso}}">{{lang.name}}</option>
		</select>
	</div>
	<div class="setting">
		<div class="name">Sorting</div>
		<ul>
			<li>
				<div class="name">Tracks</div>
			<li>
				<select ng-model="settings.sort.tracks" required>
					<option ng-repeat="sort in sorts.tracks" value="{{sort.value}}">{{sort.name}}</option>
				</select>
			<li>
				<div class="checkbox">
					<input type="checkbox" id="tracks_sort_type" ng-model="settings.order.tracks">
					<label for="tracks_sort_type"></label>
				</div>
		</ul>
		<ul>
			<li>
				<div class="name">Artists</div>
			<li>
				<select ng-model="settings.sort.artists" required>
					<option ng-repeat="sort in sorts.artists" value="{{sort.value}}">{{sort.name}}</option>
				</select>
			<li>
				<div class="checkbox">
					<input type="checkbox" id="artists_sort_type" ng-model="settings.order.artists">
					<label for="artists_sort_type"></label>
				</div>
		</ul>
		<ul>
			<li>
				<div class="name">Genres</div>
			<li>
				<select ng-model="settings.sort.genres" required>
					<option ng-repeat="sort in sorts.genres" value="{{sort.value}}">{{sort.name}}</option>
				</select>
			<li>
				<div class="checkbox">
					<input type="checkbox" id="genres_sort_type" ng-model="settings.order.genres">
					<label for="genres_sort_type"></label>
				</div>
		</ul>
	</div>
	<button class="btn btn-primary" ng-click="saveSettings()">Save</button>
</div>