<div class="navbar navbar-default justify">
	<ul class="navigation">
		<li><a ui-sref="tracks">Tracks</a>
		<li><a ui-sref="artists">Artists</a>
		<li><a ui-sref="genres">Genres</a>
	</ul>
	<form class="form-search" role="search">
		<div ng-controller="AutocompleteController">
			<div mass-autocomplete>
				<input type="text" class="input-search form-control ng-isolate-scope ng-valid ng-dirty" ng-model="dirty.state_simple" placeholder="Track, artist, genre" mass-autocomplete-item="options" autocomplete="off">
			</div>
		</div>
	</form>
	<ul class="navigation">
		<li ng-show="user.role === 'Admin'"><a ui-sref="track_add">Edit</a>
		<li ng-show="!user"><a ui-sref="login">Sign in</a>
		<li><a ui-sref="settings">Settings</a>
	</ul>
</div>
<div class="navbar navbar-primary justify" ng-show="user">
	<ul class="navigation">
		<li><a ui-sref="user_tracks">My tracks</a>
		<li><a ui-sref="user_artists">My artists</a>
		<li><a ui-sref="user_genres">My genres</a>
	</ul>
	<ul class="navigation">
		<li><a ui-sref="account">My account</a>
		<li><a ng-href="#" ng-click="ctrl.logout()">Logout</a>
	</ul>
</div>